# Testing the code base against the Meilisearch pre-releases
name: Pre-Release Tests

# Will only run for PRs and pushes to bump-meilisearch-v*
on:
  push:
    branches: bump-meilisearch-v*
  pull_request:
    branches: bump-meilisearch-v*

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Current go.mod version and latest stable go version
        go: ["1.21", "1.25"]
        include:
          - go: "1.21"
            tag: current
          - go: "1.25"
            tag: latest

    name: integration-tests-against-rc (go ${{ matrix.tag }} version)
    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Get dependencies
        run: go mod download

      - name: Get the latest Meilisearch RC
        run: echo "MEILISEARCH_VERSION=$(curl https://raw.githubusercontent.com/meilisearch/integration-guides/main/scripts/get-latest-meilisearch-rc.sh | bash)" >> $GITHUB_ENV

      - name: Meilisearch (${{ env.MEILISEARCH_VERSION }}) setup with Docker
        run: docker run -d -p 7700:7700 getmeili/meilisearch-enterprise:${{ env.MEILISEARCH_VERSION }} meilisearch --master-key=masterKey --no-analytics --experimental-allowed-ip-networks=any

      - name: Run integration tests
        run: go test -v ./...
