name: Validate release version

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    name: Validate release version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check release validity
        run: sh .github/scripts/check-release.sh
